body{
    background-color: #C8D0D2;
}

.card-grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    transform-style: preserve-3d;
    height: 220px;
    width: 220px;
    cursor: pointer;
    transition: 150ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
}

.card.flip{
    --rotate-y: 180deg;
}

.card .front, .card .back{
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back{
    transform: rotateY(180deg);
}

.flashcard-options{
    margin-top: 0.5rem;
}

.flashcard-option{
    margin-top: 0.25rem;
    color: #555;
    font-size: 0.8rem;
}


.card .front {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .front img {
    width: 48px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some space below the image */
}
